@charset "UTF-8";
/*11 -------------------------*/
h2:after {
  content: "Sorry, the argument false is a bool."; }

/*#13 - Logical Operators*/
h2:after {
  content: 'var1 and var2 are true'; }

/*#14 - String Operations*/
h2:after {
  content: "My name is Timur Pupkin"; }

/*#18 - Partials*/
.this_is_part {
  color: white; }

#main .this_is_part {
  color: white; }

/*#20 - Mixins*/
p {
  font-size: 16px; }

a {
  color: blue;
  background-color: red; }

a {
  color: blue;
  background-color: red; }

/*...*/
/*#21 - Mixins With Arguments*/
#main a {
  color: white; }
  #main a:visited {
    color: blue; }
  #main a:hover {
    color: green; }
  #main a:active {
    color: red; }

#main a {
  color: white; }
  #main a:visited {
    color: blue; }
  #main a:hover {
    color: green; }
  #main a:active {
    color: black; }

#main a {
  color: white blue, green, 2, false; }

/*#22 - Inheritance with @extend*/
/*#23 - Placeholder Selectors*/
.success {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333; }

.message, .success, .error {
  border: 10px solid #ccc;
  padding: 100px;
  color: #333333; }

.error {
  border-color: red; }

/*#24 - Placeholder Extend vs. Mixin*/
/* ╨╝╨╕╨║╤Б╨╕╨╜╤Л ╨╜╨╡ ╨│╤А╤Г╨┐╨┐╨╕╤А╤Г╤О╤В ╨╕ ╨╜╨╡ ╨┐╤А╨╕╨╜╨╕╨╝╨░╤О ╨░╤А╨│╤Г╨╝╨╡╨╜╤В╤Л*/
.success {
  border: 10px solid #ccc;
  padding: 100px;
  color: #333333; }

.error {
  border: 10px solid #ccc;
  padding: 100px;
  color: #333333;
  border-color: red; }

/*#27 - Lists*/
.stugg-1 {
  color: "Raleway"; }

.stugg-2 {
  color: "Dosis"; }

.stugg-3 {
  color: "Lato"; }

.stugg- {
  color: 10px; }

.stugg- {
  color: 8px; }

.stugg- {
  color: 12px; }

.stugg- {
  color: "Roboto"; }

.stugg- {
  color: 15px; }

.stugg- {
  color: 1.3em; }

h2 {
  color: 15px; }

h2 {
  index: 2; }

/*#29 - Maps*/
.color-red #ff0000 {
  content: "red" "#ff0000"; }

.color-green #00ff00 {
  content: "green" "#00ff00"; }

.color-blue #0000ff {
  content: "blue" "#0000ff"; }

.color-red {
  content: "#ff0000"; }

.color-green {
  content: "#00ff00"; }

.color-blue {
  content: "#0000ff"; }

/*- #30 - @at-root*/
/* ╨▓╤Л╤В╨░╤Й╨╕╤В ╨╕╨╖ ╤А╨╛╨┤╨╕╤В╨╡╨╗╤П*/
.sub_parent .parent {
  content: 'parent'; }
  .sub_parent .parent .child {
    content: 'child'; }
  .at_root_child {
    content: 'at_root_child'; }

/*#34 - Using Your Own Functions*/
#main {
  padding: 66px; }

/*#36 - @for Loops*/
.item-1 {
  width: 10px; }

.item-2 {
  width: 20px; }

.item-3 {
  width: 30px; }

/*#37 - @each Loops*/
.bob-avatar {
  content: bob; }

.john-avatar {
  content: john; }

.bill-avatar {
  content: bill; }

.mike-avatar {
  content: mike; }

.alert-button {
  color: yellow;
  content: red; }

.submit-button {
  color: white;
  content: greed; }

.back-button {
  color: blue;
  content: transparent; }

/*#38 - @while Loops*/
.col-1 {
  width: 8.33333%; }

.col-1 {
  width: 8.33333px; }

.col-2 {
  width: 16.66667%; }

.col-2 {
  width: 16.66667px; }

.col-3 {
  width: 25%; }

.col-3 {
  width: 25px; }

.col-4 {
  width: 33.33333%; }

.col-4 {
  width: 33.33333px; }

.col-5 {
  width: 41.66667%; }

.col-5 {
  width: 41.66667px; }

.col-6 {
  width: 50%; }

.col-6 {
  width: 50px; }

.col-7 {
  width: 58.33333%; }

.col-7 {
  width: 58.33333px; }

.col-8 {
  width: 66.66667%; }

.col-8 {
  width: 66.66667px; }

.col-9 {
  width: 75%; }

.col-9 {
  width: 75px; }

.col-10 {
  width: 83.33333%; }

.col-10 {
  width: 83.33333px; }

.col-11 {
  width: 91.66667%; }

.col-11 {
  width: 91.66667px; }

.col-12 {
  width: 100%; }

.col-12 {
  width: 100px; }
